accelerate==0.15.0
transformers
ftfy
albumentations
opencv-python
einops
diffusers[torch]==0.10.2
pytorch-lightning
bitsandbytes
tensorboard
safetensors
gradio
altair
easygui
# for BLIP captioning
requests
timm
fairscale
# for WD14 captioning
# tensorflow<2.11
tensorflow
huggingface-hub
# for kohya_ss library
GitPython
toml
voluptuous
tabulate
